::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;

}

.menu_list_links {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-indent: 30px;

}