::before::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;

}

.menu_list_links {
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-indent: 40px;
    margin: 30px;

}
.welcome {
    display: inline-block;
    position: relative;
    margin: 15px;
    font-size: 50px;
    font-weight: bold;
    color: #4ffac2;
    cursor: pointer;

}
.about-header {
    display: none;
    position: relative;
    margin:  100px;
    color: blue;
    text-indent: 5px;
    font-size: 50px;
    font-weight: bold;
}
.about_description {
    display: none;
    position: relative;
    color: white;
    bottom: 65px;
    align-items: center;
    text-indent: 10px;
    line-height: 25px;
}
.projects {
    display: none;
    color: gray;
}
.project-links {
    text-decoration: none;
    display: none;
}
.project-links:hover {
    text-decoration: none;
}
.project_img {
    display: none;
    position: relative;
    width: 150px;
    text-decoration: none;
}